<div class="item-with-background">
    <ngx-skeleton-loader count="1" [theme]="{
      'border-radius': '5px',
      height: '20px',
      'background-color': '#323232',
      border: '1px solid #323232',
      'animation-duration': '2s'
    }">
    </ngx-skeleton-loader>
</div>